{% extends 'base.html' %}

{% block right_body %}
    <h3>New Project</h3>
    <hr/>
    <form action="/page/saveProject/" method="post" enctype="multipart/form-data">
        <div class="alert alert-danger hide" role="alert">
            1234
        </div>
        {% csrf_token %}
        <div class="form-group">
            <label for="project_name">Project name</label>
            <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Project name" value="">
        </div>
        <div class="form-group">
            <label for="project_description">Project description</label>
            <textarea type="text" class="form-control" rows="3" id="project_description" name="project_description" placeholder="Project description"></textarea>
        </div>
        <div class="form-group">
            <label for="project_file">Project file input</label>
            <input type="file" id="project_file" name="project_file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,">
        </div>
        <div>
            文件要求：使用Excel文件，格式用下
            <table class="table table-bordered">
                <tr>
                    <th>Method</th>
                    <th>API</th>
                    <th>Headers</th>
                    <th>bodies</th>
                    <th>cookies</th>
                </tr>
                <tr>
                    <td>get</td>
                    <td>http://www.baidu.com</td>
                    <td>{"key":"value"}</td>
                    <td>{"key":"value"}</td>
                    <td>{"key":"value"}</td>
                </tr>
            </table>
        </div>
        <button type="submit" class="btn btn-primary save_project_form">Submit</button>
    </form>
{% endblock %}