<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Postboy</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .tab_style {
            width: 150px
        }

        .tab_style .tab_name_a {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: clip;
            width: 150px;
            padding-left: 5px;
        }

        .testing_img {
            background: url("/static/images/testing.gif") no-repeat top;
            padding-left: 8px;
            padding-right: 8px;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/page/">Postboy</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/page/newProject" >New Project</a>
                </li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
            </form>
        </div>
    </div>
</nav>


<div class="container-fluid">

    <!-- Large modal -->
    <button type="button" class="btn btn-primary hide" data-toggle="modal" data-target=".myModal">Large modal</button>
    <div class="modal fade myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <h3>本地Ajax请求，请确认接口可以接受跨域请求</h3>
                <code>
                    PHP代码设置跨域:
                    <p>header("Access-Control-Allow-Origin:<span class="localhost_host_api"></span>");</p>
                    <p>header('Access-Control-Allow-Credentials:true');</p>
                    <p>header('Access-Control-Allow-Methods:GET, POST');</p>
                </code>
            </div>
        </div>
    </div>

    <div class="row">

        <!-- 左边区域开始 -->
        <div class="col-sm-3 col-md-2 sidebar" style="padding:0px;">
            <div class="panel-group all_project_list" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                # Default
                            </a>
                            <a href="/page/project?project_id=0" style="float: right;">
                                <span class="glyphicon glyphicon-tasks" title="Batch test"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <!-- List group -->
                            <ul style="list-style-type:none;margin:0px;padding:0px;" class="default_ul project_ul">
                            </ul>
                        </div>
                    </div>
                </div>

                {% for items in project_list %}
                <div class="panel panel-default project_list_div">
                    <div class="panel-heading" role="tab" id="heading_project_{{ items.id }}" >
                        <h4 class="panel-title">
                            <a class="collapsed project_list_a" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapse_project_{{ items.id }}" aria-expanded="false" aria-controls="collapse_project_{{ items.id }}" id="{{ items.id }}">
                                #{{ items.id }} {{ items.project_name }}
                            </a>
                            <a href="/page/project?project_id={{ items.id }}" style="float: right;">
                                <span class="glyphicon glyphicon-tasks" title="Batch test"></span>
                            </a>
                            <a href="/page/project?project_id={{ items.id }}" style="float: right;margin-right: 10px;">
                                <span class="glyphicon glyphicon-trash" title="Batch test"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse_project_{{ items.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_project_{{ items.id }}">
                        <div class="panel-body">
                            <ul style="list-style-type:none;margin:0px;padding:0px;" class="project_ul project_ul_{{ items.id }}">
                            </ul>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <!-- 左边区域结束 -->

        <!-- 右边区域开始 -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="row">
                <span class="glyphicon glyphicon-resize-horizontal left_right_move"
                      style="position: absolute;top: 5px;left: 5px; cursor: pointer;"></span>
                {% block right_body %}加载中...{% endblock %}
            </div>
        </div>
        <!-- 右边区域结束 -->
    </div>


</div>


<!-- New Project Start -->
<div>
    <a href="javascript:void(0);" data-toggle="modal" data-target="#newProjectModel" >New Project</a>
    <div class="modal fade" id="newProjectModel" tabindex="-1" role="dialog" aria-labelledby="newProjectModelLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="newProjectModelLabel">New Project</h4>
                </div>
                <div class="modal-body">
                    <form>
                        {% csrf_token %}
                        <div class="alert alert-danger hide project_msg" role="alert">

                        </div>
                        <div class="form-group">
                            <label for="project_name" class="control-label">Project Name:</label>
                            <input type="text" class="form-control" id="project_name" name="project_name">
                        </div>
                        <div class="form-group">
                            <label for="project_description" class="control-label">Description:</label>
                            <textarea class="form-control" id="project_description" name="project_description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="save_project">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- New Project end -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<script src="/static/js/holder.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
<script>
    var token_html = "{% csrf_token %}";
</script>
<script src="/static/js/send.js"></script>
</body>
</html>
